# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
data/history/bitcoin/bitcoin.csv
data/history/bitcoin-cash/bitcoin-cash.csv
data/history/cardano/cardano.csv
data/history/eos/eos.csv
data/history/ethereum/ethereum.csv
data/history/iota/iota.csv
data/history/litecoin/litecoin.csv
data/history/stellar/stellar.csv
data/history/tether/tether.csv
data/history/xrp/xrp.csv

# ignore json folders, too big
data/history/bitcoin/json/
data/history/ethereum/json/
data/history/xrp/json/
data/history/litecoin/json/
data/history/stellar/json/
data/history/bitcoin-cash/json/
data/history/tether/json/
data/history/iota/json/
data/history/eos/json/
data/history/cardano/json/
